[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "thirdparty/pcg-cpp"]
	path = thirdparty/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
