build
*.pro.user
*.pro.user.*
CMakeLists.txt.user
cmake-build-*

# JetBrains
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
wheelhouse/

# scikit-build-core
SKC-Build/
skbuild/
cmake-build-*/

# Ruff
.ruff_cache/

# pytest
.pytest_cache/
.coverage
htmlcov/

# Editable install
labellib.egg-info/